{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Registeration
{% endblock title %}
{% block css %}
{% endblock css %}
{% block body %}
<div class="container p-5">
    <div class="row">
        <form method="POST">
            {% csrf_token %} 
            {{form|crispy}}
                <button  type="submit"  class="btn btn-success">Register</button>
        </form>
    </div>
</div>
        <p>If you have an account, <a href="/login">login</a></p>
{% endblock body %}